

.error{
  color: red;
}

input.ng-invalid  {
  border-color: red;
  color: red;
}

input.ng-valid {
  border-color: green;
  color: green;
}


h1{
      color:blue;
}

h2{
      color:orange;
}

h3{
      color:green;
}

h4{
      color:red;
}

.rosa {
  color:pink;
}

.subrayado {
  text-decoration: line-through;
}

.negrita {
  font-weight: bold;
}