<!-- moduleAngular2.js / controller: 'controllerAuxiliar' -->

<div class="container2" >
<div data-ng-show="param2!=null">Parametro: {{param2}}</div>

<br><br>
<button data-ng-click="toHome()">Return to index</button>
<br><br>

<h1>View 2</h1>
<br><br>


<!--==========================================================================================-->
<!-- ** MENÚ SELECT QUE DEPENDE DE OTRO MENÚ SELECT -->

<!-- La directiva ng-options permite dar valores en un '<select>'-->
<!--ng-options=”valor as etiqueta for item in items track by claveunica”  -->
<h3>Trying with the ng-options directive:</h3>
<form name="fProvincias">
<select name="sProvincias"  data-ng-change="insertarCiudades()"  data-ng-model="provinciaSeleccionada" data-ng-options="provincia as provincia.nombre for provincia in provincias track by provincia.nombre" >
  <option value="" >--Elige una provincia--</option>
</select>

<select name="sCiudades"  data-ng- data-ng-model="ciudadSeleccionada" data-ng-options="ciudad as ciudad.nombre for ciudad in ciudades track by ciudad.idCiudad" >
  <option value="" >--Elige una ciudad--</option>
</select>  
</form>
<div data-ng-cloak>
    <label data-ng-hide="provinciaSeleccionada===null">La provincia seleccionada ha sido {{selectValue}}</label><br>
    <label data-ng-hide="ciudadSeleccionada===null">La ciudad seleccionada ha sido {{ciudadSeleccionada.nombre}}</label>
</div>
<!--==========================================================================================-->


<!-- Con la directiva ng-if se inserta o no una etiqueta en el DOM.-->
<h3>Trying with the ng_if directive:</h3>
<input type="checkbox" data-ng-model="activo"/>Insertar etiqueta en el DOM
<div data-ng-if="activo">Etiqueta insertada</div>
 


<!-- Con la directiva ng-switch se inserta una etiqueta determinada en el DOM.-->
<!-- ng-switch on="nombre_variable"-->
<!-- ng-switch-when="valor"-->
<!-- ng-switch-default-->
<h3>Trying with the ng_switch directive:</h3>

 Escribe una "A" o una "B" o cualquier otra cosa:<input ng-model="switch">
<div  data-ng-switch on="switch" >
    <div data-ng-if="switch!=null">
          <div data-ng-switch-when="A">Este texto solo esta si hay una A</div>
          <div data-ng-switch-when="a">Este texto solo esta si hay una a</div>
          <div data-ng-switch-when="B">Texto para el valor B</div>
          <div data-ng-switch-when="b">Texto para el valor b</div>
          <div data-ng-switch-default>Texto para cuando no es ni A ni B</div>
    </div>      
 </div>    




<!-- ng-class="nombre_variable"-->
<h3>Trying with the ng_class directive</h3>
<input data-ng-model="css.rosa" type="checkbox">Aplicar estilo Rosa<br>
<input data-ng-model="css.subrayado"  type="checkbox">Aplicar estilo Subrayado<br>
<input data-ng-model="css.negrita"  type="checkbox">Aplicar estilo Negrita<br><br>  
<div data-ng-class="css">Este es un texto con clases dinámicas</div>




<h3>Trying with the $timeout service:</h3>
&iquest;Se ha producido el evento? {{producidoEvento}}<br><br>



<h3>Trying with constant:</h3>
El valor de la constante es: {{constante}}<br><br>



<h3>Trying with value:</h3>
El resultado de la resta es: {{value}}<br><br>



<h3>Trying with service:</h3>
{{service}}<br><br>


<h3>Trying with filters</h3>
Importe formateado:{{importeFormateado}}<br><br><br>


<input type="date" date-picker="yyyy-MM-dd" data-ng-model="fecha">
La fecha que has elegido es: {{fecha}}<br>
Es posible que debido al navegador no se visualice el calendario. 


</div>